TARGET_URL=https://www.tuttosport.com/sondaggi/calcio/golden-boy/2026/09/10-151147857/golden_boy_web_2026_vota_il_tuo_preferito_round_3
CANDIDATE=İlhan Fakılı
SUBMIT_TEXT=VOTA ORA
HIGHLIGHT_SELECTOR=label.option.leader
OPTION_SELECTOR=label.option
HEADLESS=0
DELAY_MS=500
LIMIT_CHECK_TIMEOUT_MS=5000
SUBMIT_WAIT_TIMEOUT_MS=20000
BROWSER_CHANNEL=
INCOGNITO=0
